<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>{{pageTitle}}</title>
    </head>
    <body>
        {{> header}}
        <p>{{screamIt 'Welcome to my website'}} {{name}}</p>

        {{> footer}}
    </body>
</html>